:root {
  --primary: #2a3b8a;
  --primary-opact: #2a3c8a8c;
  --primary2: #364ba8;
  --primary3: #4960c7;
  --font-size: 16px;
  --line-height: 1.5;
  --font-family: "Poppins", Calibri, Verdana, sans-serif;
  --color: #011225;
  --color-info: #0112259c;
  --topbar-background: #1a1c1e;
  --topbar-color-2: #323435;
  --background: #e5edf1;
  --box-shadow: 0px 1px 5px #d4dbdfc2;
  --grey-shadow: #aaaeb1;
  --red: #f44336;
  --yellow: #ffc107;
  --green: #4caf50;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/Poppins/Poppins-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/Poppins/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  color: var(--color);
  background: var(--background);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

a {
  display: inline-block;
  color: inherit;
}

img,
video,
p,
ul,
h1,
h2,
h3 {
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* .view {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
} */

.btn {
  padding: 0.5em 1em;
  background: var(--primary);
  color: #fff;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s linear;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.btn:hover {
  background: var(--primary2);
}

.btn.btn-large {
  width: 100%;
}

.app-loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.app-loader>.logo {
  width: 200px;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  padding: 1em;
  box-shadow: 0 1px 5px var(--grey-shadow);
  z-index: 5;
}

.navbar>.brand {
  width: 90px;
}

.navbar>.links {
  display: flex;
  align-items: center;
}

.navbar>.links>.link:not(:first-child) {
  margin-left: 1.5em;
}

.navbar>.links>.link.active {
  color: var(--primary);
  position: relative;
  font-weight: bold;
}

.navbar>.links>.link.active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  background: var(--primary);
  border-radius: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
  }
}

@media only screen and (max-width: 735px) {
  .navbar {
    flex-direction: column;
  }

  .navbar>.links {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: height 0.6s ease-in-out;
  }

  .navbar>.links.active {
    height: 352px;
    overflow: visible;
    /* flex-direction: column; */
  }

  .navbar>.links>.link {
    margin: 1em 0 !important;
  }
}

.slider-btn {
  position: absolute;
  top: 50%;
  left: 20px;
  background: var(--primary-opact);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
}

.slider-btn.next {
  left: auto;
  right: 20px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(50px);
}

.banner {
  height: 770px;
  width: 100%;
  background: url('./../../images/test.jpg') no-repeat center / cover;
  /* background-position-y: 0; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: center;
  position: relative;
  /* padding-left: 5em; */
}

.banner.b2 {
  background: url('./../../images/test02.jpg') no-repeat center / cover;
}

.banner.b3 {
  background: url('./../../images/test03.jpg') no-repeat center / cover;
}

.banner.b4 {
  background: url('./../../images/image03.jpg') no-repeat center / cover;
}

.banner::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-opact);
}

.banner>.content {
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  color: #fff;
  /* color: var(--primary); */
  gap: 2em;
}

.banner>.content>.text {
  font-size: 5em;
  text-align: center;
  font-weight: bold;
}

.home-banner>.content>.short {
  /* padding-left: m; */
  font-size: 1.75em;
}

.promo {
  padding: 1em;
  text-align: center;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 5;
  background: linear-gradient(to right, var(--primary), var(--primary3));
}

.page-content>section>.title {
  font-size: 3em;
  margin-top: 0.8em;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 0.4em;
}

.page-content>section>.text {
  padding: 0 1.5em;
  text-align: center;
  width: 80%;
  margin: auto;
  color: var(--color-info);
  margin-bottom: 2em;
}

.service-card {
  /* border: 1px solid #ddd; */
  padding: 1em;
  border-radius: 6px;
  text-align: center;
}

.service-card>.cover {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  margin-bottom: 1em;
}

.service-card>.name {
  font-weight: bold;
  /* color: --col; */
  font-size: 1.2em;
}

.service-card>.description {
  color: var(--color-info);
  margin: 1em;
}


.services-presentation>.services {
  display: grid;
  gap: 2em;
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1375px) {
  .services-presentation>.services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .services-presentation>.services {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 775px) {
  .services-presentation>.services {
    padding: 0em;
  }
}

section.section-promo {
  height: 500px;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 600px) {
  section.section-promo {
    height: 700px;
  }
}


@media only screen and (max-width: 400px) {
  section.section-promo {
    height: 800px;
  }
}


section.section-promo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-opact);
  z-index: 0;
  backdrop-filter: blur(5px);
}

section.section-promo::after {
  content: 'PROMO';
  position: absolute;
  top: 1em;
  right: 1em;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 100px;
  background: var(--primary-opact);
  backdrop-filter: blur(50px);
}

section.section-promo>.content {
  z-index: 1;
  width: 80%;
  /* text-align: center; */
}

section.section-promo>.content>.promo-title {
  font-size: 4em;
  font-weight: bold;

}

section.section-promo>.content>.promo-text {
  margin-bottom: 1em;
}

.product-card>.img>img {
  border-radius: 6px;
}

.product-card {
  padding: 1em;
  border-radius: 6px;
  position: relative;
  text-align: center;
  /* background: rgba(255, 255, 255, 0.1); */
}

.soldes-products {
  display: grid;
  gap: 2em;
  width: 80%;
  margin: 3em auto;
  /* margin-bottom: 3em; */
  grid-template-columns: repeat(4, 1fr);
}

.product-card>.infos {
  font-style: italic;
  margin-top: 0.5em;
}

.product-card>.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.product-card>.price>.newprice {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary);
}

.product-card>.price>.oldprice {
  text-decoration: line-through;
  color: var(--primary3);
  margin-left: 1em;
}

.product-card>.solde-bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--primary-opact);
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  font-size: 0.8em;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(50%, -50%); */
}

.product-card>.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}


.product-card>.colors>.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  margin: 0 10px;
}


.product-card>.colors>.color::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-opact);
  border-radius: 50%;
  transform: translate(-3.5px, -3.5px);
}


@media only screen and (max-width: 1150px) {
  .soldes-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 670px) {
  .soldes-products {
    grid-template-columns: repeat(1, 1fr);
  }

  .banner {
    height: 570px;
  }
}

@media only screen and (max-width: 500px) {
  .soldes-products {
    grid-template-columns: repeat(1, 1fr);
  }

  .banner {
    height: 400px;
  }
}

@media only screen and (max-width: 775px) {
  .soldes-products {
    padding: 0em;
  }

  .banner>.content>.text {
    font-size: 3em;
  }
}

@media only screen and (max-width: 400px) {
  .banner>.content>.text {
    font-size: 2em;
  }
}

.category-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-presentation>.categories {
  display: grid;
  gap: 3em;
  /* width: 80%; */
  margin: 3em auto;
  /* margin-bottom: 3em; */
  grid-template-columns: repeat(3, 300px);
}

@media only screen and (max-width: 1050px) {
  .category-presentation>.categories {
    grid-template-columns: repeat(2, 300px);
  }

  .category-presentation>.categories>.category-card:last-child {
    /* grid-row: 2 / span 2; */
    grid-column: 1 / span 2;
  }
}

@media only screen and (max-width: 730px) {
  .category-presentation>.categories {
    display: block;
    /* grid-template-columns: 1fr; */
  }
}

.category-card {
  height: 500px;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-size: 120% !important;
  transform: translateY(0) scale(1);
  transition: background-size 0.6s cubic-bezier(0.29, 1.4, 0.35, 1.35), transform 0.6s cubic-bezier(0.29, 1.4, 0.35, 1.35);
}

.category-card:hover {
  transform: translateY(-10px) scale(1.05);
  background-size: 150% !important;
}

.product-card {
  transform: translateY(0) scale(1);
  transition: transform 0.6s cubic-bezier(0.29, 1.4, 0.35, 1.35);
}

.product-card:hover {
  transform: translateY(-10px) scale(1.05);
}

.service-card {
  transform: translateY(0) scale(1);
  transition: transform 0.6s cubic-bezier(0.29, 1.4, 0.35, 1.35);
}

.service-card:hover {
  transform: translateY(-10px) scale(1.05);
}

.category-card::before {
  content: '';
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(transparent, var(--primary));
}

.category-card>.name {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  padding: 1em;
  z-index: 2;
}

.footer {
  padding: 1em;
  background: #fff;
  text-align: center;
  box-shadow: 0 -1px 10px var(--grey-shadow);
}

.info-card {
  background: #fff;
  display: flex;
  padding: 16px 20px;
  max-width: 400px;
  width: 95%;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 1em;
  cursor: pointer;
}

.info-card>.info {
  margin-left: 20px;
}


.info-card>.ico {
  transform: translateY(3px);
}

.info-card {
  transform: translateY(0) scale(1);
  transition: transform 0.6s cubic-bezier(0.29, 1.4, 0.35, 1.35);
}

.info-card:hover {
  transform: translateY(-10px) scale(1.05);
}

.section-infos>.infos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  margin: 3em auto;
}

.field {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 6px;
  margin-bottom: 1em;
  transition: border-color 0.3s linear;
  background: #fff;
}

.field>.field-input {
  position: relative;
  /* line-height: 1; */
  width: 100%;
}

.field>.field-input>.field-input-label {
  position: absolute;
  top: 0.5em;
  left: 1em;
  color: inherit;
  opacity: 0.5;
  transition: all 0.3s linear;
  pointer-events: none;
}

.field.active {
  border-color: var(--primary);
}

.field.active>.field-input>.field-input-label {
  font-size: 0.7em;
  color: var(--primary);
  top: -0.9em;
  left: 1.5em;
  padding: 0 0.5em;
  opacity: 1;
}

.field>.field-input>input {
  padding: 0.5em 1em;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: transparent;
}


.field>.field-ico {
  padding: 0.5em 1em;
  padding-left: 0;
  background: transparent;
}


.field>.field-ico {
  color: var(--border);
  transition: color 0.3s linear;
}

.field.active>.field-ico {
  color: var(--primary);
}


.field>.field-ico>svg>path,
.field>.field-ico>svg>rect,
.field>.field-ico>svg>line,
.field>.field-ico>svg>circle {
  stroke: var(--border);
}

.field.active>.field-ico>svg>path,
.field.active>.field-ico>svg>rect,
.field.active>.field-ico>svg>line,
.field.active>.field-ico>svg>circle {
  stroke: var(--primary);
}

.title-dot {
  position: relative;
}


.title-dot::after {
  content: '';
  position: absolute;
  width: 0.2em;
  height: 0.2em;
  bottom: 0.35em;
  margin-left: 0.1em;
  border-radius: 50%;
  background: var(--primary);
}

.load-more {
  width: 80%;
  margin: auto;
}

.product {
  padding: 1em;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.product>.cover {
  max-width: 400px;
  width: 100%;
}

.product>.details {
  /* margin-left: 1em; */
  margin: 0 10%;
  width: calc(100% - 400px);
}


.product>.details>.infos {
  font-size: 3em;
}

.product>.details>.description {
  margin: 1.5em 0;
}

.product>.details>.price {
  font-weight: bold;
  font-size: 1.8em;
  color: var(--primary);
}

.product>.details>.colors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 0.5em
}


.product>.details>.colors>.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
}


.product>.details>.colors>.color::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-opact);
  border-radius: 50%;
  transform: translate(-3.5px, -3.5px);
}

@media only screen and (max-width: 1000px) {
  .product>.details {
    margin-left: 1em;
    /* margin: 0 0%; */
    width: calc(100% - 300px);
  }

  .product>.cover {
    max-width: 300px;
  }

}

@media only screen and (max-width: 800px) {
  .product {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .product>.details {
    margin-left: 10%;
    /* margin: 0 0%; */
    width: 100%;
  }

  .product>.details>.colors {
    justify-content: center;
  }

}